 <h1><%= pageHeading %></h1><hr/>
 <div class="row">
  <div class="col-md-8 col-xs-12 col-sm-12 ">
    <% if (success !='') { %>
          <p style="color: green"><%= success %></p>
      <% } %>
      <% if (error !='') { %>
          <p style="color: red"> <%= error %></p>
    <% } %> 
 </div> 
</div>    