  <% include shared/header.ejs %>
  <% include shared/nav.ejs %>
  <% include shared/subheader.ejs %>
   <br/><br/> 
   <p>This application will help you to perform various functionalities using AWS SES. Such as verifying domains, email, analystics etc. Explore yourself to know better.</p> 
  <% include shared/footer.ejs %>
